<!-- profile.html -->
{% extends 'layout.html' %} {% load static %} {% block title %}Profile{%endblock %} {% block content %}
<div class="container text-center">
  <h2>Your Profile</h2>

  {% if profile_form.instance.profile_image %}
  <div class="mb-4">
    <img
      src="{{ profile_form.instance.profile_image.url }}"
      alt="Profile Image"
      style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover"
    />
  </div>
  {% else %}
  <div class="mb-4">
    <img
      src="{% static 'default-profile.png' %}"
      alt="Default Profile Image"
      style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover"
    />
  </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h3>User Information</h3>
    {{ user_form.as_p }}
    <!-- Renders user form fields -->

    <h3>Profile Information</h3>
    {{ profile_form.as_p }}
    <!-- Renders profile form fields -->

    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
</div>
{% endblock %}
